---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kyle Dickey">
    <div class="flex flex-col items-center justify-center min-h-screen px-4 sm:px-8">
        <h1 class="font-serif italic">Kyle Dickey</h1>
    </div>
</Layout>
