---
import Layout from "../layouts/Layout.astro";
import SocialIcons from "../components/SocialIcons.astro";
import Tools from "../components/Tools.astro";
import Work from "../components/Work.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import Writing from "../components/Writing.astro";
import Contact from "../components/Contact.astro";
import ArrowLeft from "../icons/ArrowLeft";
---

<Layout title="Kyle Dickey">
    <div class="flex-1 flex justify-center">
        <div class="w-full sm:w-[100%] md:w-[75%] lg:w-[55%] px-4 sm:px-8 py-8">
            <div class="flex items-start justify-between w-full mt-8">
                <div class="flex flex-col item-start justify-center">
                    <h1 class="font-serif italic text-2xl">Kyle Dickey</h1>
                    <p class="text-foreground/60 font-light">Junior software engineer</p>
                </div>
                <SocialIcons />
            </div>

            <AboutMe />
            <Tools />
            <Work />
            <Projects />
            <Writing />
            <Contact />

            <div class="h-24"></div>
        </div>
    </div>
</Layout>
