---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import VinylList from "../components/VinylList";
---

<Layout title="Kyle's Vinyl">
    <Nav label="Index" path="/" />
    <div class="flex-1 flex justify-center min-h-screen">
        <div class="w-full sm:w-[100%] md:w-[75%] lg:w-[55%] px-4 sm:px-8 py-8">
            <div class="flex items-start justify-between w-full mt-8">
                <div class="flex flex-col item-start justify-center">
                    <h1 class="font-serif italic text-2xl">Vinyl</h1>
                    <p class="text-foreground/60 font-light">My vinyl collection.</p>
                </div>
            </div>
            <VinylList client:load />
            <div class="h-24"></div>
        </div>
    </div>
</Layout>
