/* Highlight Color --> #ff03f2 */

body {
  background-color: #211f21;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3cpath d='M224.46 0C254.03 4.76 244.22 43.45 270 43.45C308.07 43.45 307.48 7.19 352.17 0C442.48 -14.53 446.09 0 540 0C675 0 675 0 810 0C945 0 945 0 1080 0C1215 0 1215 0 1350 0C1485 0 1485 0 1620 0C1755 0 1755 0 1890 0C2002.5 0 2004.02 -7.65 2115 0C2139.02 1.66 2156.35 -3.29 2160 18.62C2178.85 131.71 2160 144.31 2160 270C2160 372.67 2190.13 388.49 2160 475.35C2143.3 523.49 2110.69 504.47 2066.33 540C1975.69 612.59 1981.44 691.58 1890 691.58C1787.91 691.58 1780.33 620.67 1679.27 540C1645.33 512.9 1645.07 476.05 1620 476.05C1599.45 476.05 1589.55 505.1 1588.03 540C1582.26 672.07 1590.87 676.94 1605.41 810C1606.85 823.19 1609.96 823.68 1620 832.5C1752.25 948.68 1754.16 947.34 1890 1060C1903.37 1071.09 1918.42 1074.5 1918.42 1080C1918.42 1084.5 1904.21 1080 1890 1080C1755 1080 1755 1080 1620 1080C1485 1080 1485 1080 1350 1080C1215 1080 1215 1080 1080 1080C945 1080 945 1080 810 1080C682.5 1080 675.16 1092.32 555 1080C540.16 1078.48 547.35 1052.31 540 1052.31C532.74 1052.31 540.43 1078.5 525.79 1080C405.43 1092.34 397.89 1080 270 1080C135 1080 67.5 1147.5 0 1080C-67.5 1012.5 0 945 0 810C0 675 0 675 0 540C0 405 0 405 0 270C0 135 -61.28 73.72 0 0C50.95 -61.28 119.03 -16.97 224.46 0' stroke='rgba(230%2c 1%2c 192%2c 0.4588235294117647)' stroke-width='2'%3e%3c/path%3e%3cpath d='M540 151.58C491.05 151.58 471.12 212.52 471.12 270C471.12 319.26 494.06 365.07 540 365.07C622.25 365.07 727.5 321.95 727.5 270C727.5 215.2 619.24 151.58 540 151.58' stroke='rgba(201%2c 7%2c 204%2c 0.46)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1080 722.25C1010.93 722.25 912.86 775.9 912.86 810C912.86 841.17 1002.36 852.8 1080 852.8C1107.08 852.8 1122.29 834.92 1122.29 810C1122.29 769.65 1115.64 722.25 1080 722.25' stroke='rgba(72%2c 40%2c 150%2c 0.4588235294117647)' stroke-width='2'%3e%3c/path%3e%3cpath d='M143.13 0C217.46 33.32 209.35 57.83 270 121.03C338.9 192.83 340.28 192.18 402.24 270C475.28 361.73 445.31 411.37 540 460.14C649.19 516.37 674.98 470.42 810 480C944.98 489.58 954.7 530.7 1080 498.46C1224.7 461.23 1233.27 329.48 1350 341.05C1442.88 350.25 1459.88 427.67 1499.21 540C1541.98 662.14 1479.06 684.02 1514.19 810C1539.45 900.59 1557.88 899.55 1620 973.13C1671.85 1034.55 1742.14 1049.51 1742.14 1080C1742.14 1102.95 1681.07 1080 1620 1080C1485 1080 1485 1080 1350 1080C1215 1080 1215 1080 1080 1080C945 1080 945 1080 810 1080C729.38 1080 704.63 1121.55 648.75 1080C569.63 1021.16 593.26 879.23 540 879.23C487.37 879.23 514.56 1022.3 436.97 1080C379.56 1122.69 353.49 1080 270 1080C145.59 1080 140.24 1091.34 21.18 1080C5.24 1078.48 1.27 1070.49 0 1054.29C-9.32 935.49 0 932.14 0 810C0 675 0 675 0 540C0 405 0 405 0 270C0 135 -46.77 88.23 0 0C24.79 -46.77 82.46 -27.2 143.13 0' stroke='rgba(230%2c 1%2c 192%2c 0.4588235294117647)' stroke-width='2'%3e%3c/path%3e%3cpath d='M540 33.16C517.48 33.16 498.91 9.32 498.91 0C498.91 -7.26 519.45 0 540 0C575 0 610 -7.87 610 0C610 8.71 573.03 33.16 540 33.16' stroke='rgba(72%2c 40%2c 150%2c 0.4588235294117647)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1350 168.75C1250.47 99.98 1172.37 48.91 1172.37 0C1172.37 -35.46 1261.18 0 1350 0C1452.28 0 1484.83 -46.48 1554.55 0C1619.83 43.52 1585.18 90.85 1620 180C1637.91 225.85 1660 230.48 1660 270C1660 289.69 1641.1 298.42 1620 298.42C1592.68 298.42 1591.8 283.76 1563.16 270C1456.8 218.92 1445.86 234.98 1350 168.75' stroke='rgba(72%2c 40%2c 150%2c 0.4588235294117647)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2009.42 270C2009.42 206.22 2114.85 135 2160 135C2190.14 135 2160 202.5 2160 270C2160 325.14 2187.96 380.28 2160 380.28C2112.67 380.28 2009.42 328.86 2009.42 270' stroke='rgba(72%2c 40%2c 150%2c 0.4588235294117647)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1843.9 540C1843.9 512.17 1868.25 477 1890 477C1910.58 477 1928.57 511.53 1928.57 540C1928.57 559.61 1910 573.16 1890 573.16C1867.67 573.16 1843.9 560.25 1843.9 540' stroke='rgba(201%2c 7%2c 204%2c 0.46)' stroke-width='2'%3e%3c/path%3e%3cpath d='M810 591.43C699.15 656.05 640 721.83 640 810C640 869.36 720.99 861.19 810 886.5C940.99 923.75 960.08 958.43 1080 935.12C1156.88 920.18 1203.61 882.86 1203.61 810C1203.61 692.05 1180.54 609.33 1080 553.5C983.73 500.04 919.15 527.8 810 591.43' stroke='rgba(72%2c 40%2c 150%2c 0.4588235294117647)' stroke-width='2'%3e%3c/path%3e%3cpath d='M81.82 270C164.73 218.47 184.69 198.62 270 198.62C310.46 198.62 333.37 228.75 333.37 270C333.37 344.06 318 361.17 270 429.23C222.79 496.17 170.7 466.92 142.94 540C98.38 657.3 171.27 696.45 125.36 810C99.8 873.23 40.32 893.57 0 893.57C-22.36 893.57 0 851.79 0 810C0 675 0 675 0 540C0 453.22 -23.67 444.53 0 366.43C17.24 309.53 29.73 302.38 81.82 270' stroke='rgba(72%2c 40%2c 150%2c 0.4588235294117647)' stroke-width='2'%3e%3c/path%3e%3cpath d='M61.81 0C61.81 66.51 15.9 176.9 0 176.9C-15.01 176.9 -22.9 65.55 0 0C8 -22.9 61.81 -21.94 61.81 0' stroke='rgba(201%2c 7%2c 204%2c 0.46)' stroke-width='2'%3e%3c/path%3e%3cpath d='M2139.23 270C2139.23 261.2 2153.77 251.38 2160 251.38C2164.16 251.38 2160 260.69 2160 270C2160 277.61 2163.86 285.21 2160 285.21C2153.47 285.21 2139.23 278.12 2139.23 270' stroke='rgba(201%2c 7%2c 204%2c 0.46)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1235.25 540C1246.25 480.76 1299.03 459.47 1350 459.47C1386.6 459.47 1400.49 492.44 1410.39 540C1436.97 667.71 1395.32 679.41 1422.97 810C1452.48 949.41 1547.43 995.91 1524.71 1080C1510.95 1130.91 1437.36 1080 1350 1080C1215 1080 1215 1080 1080 1080C945 1080 945 1080 810 1080C776.25 1080 742.5 1095.81 742.5 1080C742.5 1055.31 762.69 1007.77 810 999C931.44 976.49 965.69 1062.93 1080 1017.44C1203.16 968.43 1244.96 932.96 1284.94 810C1322.58 694.24 1213.72 656.02 1235.25 540' stroke='rgba(230%2c 1%2c 192%2c 0.4588235294117647)' stroke-width='2'%3e%3c/path%3e%3cpath d='M153.53 1080C153.53 1029.43 218.79 919.46 270 919.46C316.1 919.46 348.16 1024.17 348.16 1080C348.16 1104.44 309.08 1080 270 1080C211.76 1080 153.53 1109.7 153.53 1080' stroke='rgba(230%2c 1%2c 192%2c 0.4588235294117647)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  margin-top: 2rem;
  width: 90vw;
  height: 6rem;
  /* background-color: #111111; */
  border-radius: 13px;
  position: absolute;
  top: 0;
  background-color: rgba(180, 180, 180, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: rgba(28, 28, 28, 0.2) 0px 0px 10px;
}

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

main {
  margin-top: -15rem;
  transition: all 0.5s;
  -webkit-text-stroke: 4px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 5em;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #c907cc, 15px 15px 0px #e601c0,
      20px 20px 0px #e9019a, 25px 25px 0px #f40468, 45px 45px 10px #482896;
}

main:hover {
  font-family: "Meta", sans-serif;
  text-shadow: 0px 0px 0px #d6f4f4
}

.social-container {
  flex-direction: row;
  max-width: 80vw;
}

.socialIcon {
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 50px #ff03f2;
  transition: all 0.5s;
}

.socialIcon:hover {
  text-decoration: none;
  color: #7d7d7d;
  text-shadow: 10px 0px 50px #000000;
}

.project-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 85vw;
  max-width: 85vw;
  border-radius: 13px;
  background-color: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: rgba(28, 28, 28, 0.2) 0px 0px 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.proj-title {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: -20px;
}

.proj-subtitle {
  font-size: 2rem;
  font-style: italic;
  color:rgb(134, 134, 134)
}

.accordion {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
  padding: 18px;
  transition: all 0.5s;
  font-weight: 700;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 13px;
  border: none;
  text-align: left;
  outline: none;
  text-align: center;
  font-size: 2rem;
  transition: 0.4s;
}

.active {
  background-color: #a3009b;
}

.accordion:hover {
  background-color: #7d0277;
}

.panel {
  transition: all 0.5s;
  padding: 0 18px;
  display: none;
  background-color: none;
  overflow: hidden;
  padding-bottom: 3rem;
}

.proj-link {
  text-decoration: none;
  color: white;
  border: 2px solid #ff03f2;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 13px;
}

.proj-link:hover {
  background-color: #a3009b;
}

.footer {
  font-size: 1rem;
  padding-top: 0.1rem;
  color:rgb(174, 173, 173);
  padding-bottom: 0.1rem;
  width: 85vw;
  max-width: 85vw;
  border-radius: 13px;
  background-color: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: rgba(28, 28, 28, 0.2) 0px 0px 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}