body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*begin-variables custom-site-css*//* width */
::-webkit-scrollbar {
  width: 10px;
  background: #0b0c10;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0b0c10; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff03f2; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ad01a4; 
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #ff03f2
}

::selection {
  color: white;
  background: #ff03f2;
}/*end-variables custom-site-css*/
 /*begin-variables base-font-size*/ 
 html { font-size: 16px; }
 /*end-variables base-font-size*/
