---
import ArrowLeft from "../icons/ArrowLeft";

interface Props {
    label: string;
    path: string;
}

const { label, path } = Astro.props as Props;
---

<nav class="absolute left-[14rem] top-[4rem] w-32">
    <div class="space-y-2 text-sm text-foreground/60">
        <a
            href={path}
            class="hover:text-foreground flex flex-row items-center gap-2 transition-all ease-in-out"
        >
            <ArrowLeft className="size-3 mb-1" />
            <span class="font-serif italic">{label}</span>
        </a>
    </div>
</nav>
