---
import ArrowRight from "../icons/ArrowRight";
---

<div class="flex flex-col w-full mt-16 text-foreground/80 font-light text-md">
    <p class="leading-7 font-serif italic text-xl text-foreground">Work</p>
    <hr class="border-foreground/20 w-full border-1/2 border-dashed mb-2" />

    <div class="grid grid-cols-1 md:grid-cols-2 items-start justify-center w-full mt-4 gap-8">
        <div class="flex flex-col w-full">
            <p class="text-foreground/40 font-serif italic font-normal text-xs">
                March '23 - Present
            </p>

            <div class="inline-flex items-center group mt-2">
                <a
                    class="text-foreground/80 underline hover:decoration-foreground/80 transition-all ease-in-out decoration-foreground/20 underline-offset-4"
                    href="https://hansumfella.com"
                    target="_blank"
                >
                    Hansumfella Merch
                </a>
                <ArrowRight
                    className="w-4 h-4 ml-1 text-foreground opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
                />
            </div>
            <p class="text-sm text-foreground/60 mt-1">
                An e-commerce merchandise site for Twitch streamer and internet personality,
                Hansumfella.
            </p>
        </div>
        <div class="flex flex-col w-full">
            <p class="text-foreground/40 font-serif italic font-normal text-xs">
                July '24 - Present
            </p>
            <div class="inline-flex items-center group mt-2">
                <a
                    class="text-foreground/80 underline hover:decoration-foreground/80 transition-all ease-in-out decoration-foreground/20 underline-offset-4"
                    href="https://wendilunar.com"
                    target="_blank"
                >
                    WendiLunar Merch
                </a>
                <ArrowRight
                    className="w-4 h-4 ml-1 text-foreground opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
                />
            </div>
            <p class="text-sm text-foreground/60 mt-1">
                An e-commerce merchandise site for Twitch streamer and internet personality,
                WendiLunar.
            </p>
        </div>
    </div>
</div>
