---
import ArrowRight from "../icons/ArrowRight";
import Separator from "./Separator.astro";
---

<div class="flex flex-col w-full mt-16 text-foreground/80 font-light text-md">
    <p class="leading-7 font-serif italic text-xl text-foreground">Work</p>
    <Separator />

    <div class="grid grid-cols-1 md:grid-cols-1 items-start justify-center w-full mt-4 gap-8">
        <div class="flex flex-col w-full">
            <p class="text-foreground/40 font-serif italic font-normal text-xs">
                March '23 - Present
            </p>

            <p class="text-foreground/80">Freelance Software Developer</p>
            <ul class="text-sm text-foreground/60 mt-1 list-disc list-inside">
                <li>
                    Built a full-stack e-commerce site for Twitch streamers
                    <div class="inline-flex items-center group">
                        <a
                            class="text-foreground/80 underline hover:decoration-foreground/80 transition-all ease-in-out decoration-foreground/20 underline-offset-4"
                            href="https://hansumfella.com"
                            target="_blank"
                        >
                            Hansumfella
                        </a>
                    </div>
                    and
                    <div class="inline-flex items-center group">
                        <a
                            class="text-foreground/80 underline hover:decoration-foreground/80 transition-all ease-in-out decoration-foreground/20 underline-offset-4"
                            href="https://wendilunar.com"
                            target="_blank"
                        >
                            WendiLunar
                        </a>
                    </div>
                </li>
                <li>
                    Developed analytics tools for Twitch streamers to help them better understand
                    their audience.
                </li>
            </ul>
        </div>
    </div>
</div>
