<div class="flex flex-col w-full mt-16 text-foreground/80 font-light text-md">
    <p class="leading-7 font-serif italic text-xl text-foreground">Writing</p>
    <hr class="border-foreground/20 w-full border-1/2 border-dashed mb-2" />

    <p class="text-sm text-foreground/60 mt-4">Nothing here yet...</p>
</div>
