---
import ArrowRight from "../icons/ArrowRight";
import Separator from "./Separator.astro";
import { getCollection } from "astro:content";

// query the blog collection
const posts = await getCollection("blog");

const filteredPosts = posts
    .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
    .filter((post) => post.data.published === true)
    .slice(0, 4);
---

<div class="flex flex-col w-full mt-16 text-foreground/80 font-light text-md">
    <p class="leading-7 font-serif italic text-xl text-foreground">Writing</p>
    <Separator />

    <div class="grid grid-cols-1 md:grid-cols-2 items-start justify-center w-full mt-4 gap-8">
        {
            filteredPosts.length > 0 ? (
                <>
                    {filteredPosts.map((post) => (
                        <div class="flex flex-col w-full">
                            <div class="inline-flex items-center group">
                                <a
                                    class="text-foreground/80 underline hover:decoration-foreground/80 transition-all ease-in-out decoration-foreground/20 underline-offset-4"
                                    href={`/blog/${post.slug}?prev=/`}
                                >
                                    {post.data.title}
                                </a>
                                <ArrowRight className="w-4 h-4 ml-1 text-foreground opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out" />
                            </div>
                            <p class="text-sm text-foreground/60 mt-1">{post.data.description}</p>
                        </div>
                    ))}
                </>
            ) : (
                <p class="text-sm text-foreground/60">Nothing here yet.</p>
            )
        }
    </div>

    {
        posts.length > 4 && (
            <div class="inline-flex items-center group mt-6">
                <a
                    class="text-foreground/80 underline hover:decoration-foreground/80 transition-all ease-in-out decoration-foreground/20 underline-offset-4"
                    href="/blog"
                >
                    View all writing
                </a>
                <ArrowRight className="w-4 h-4 ml-1 text-foreground opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out" />
            </div>
        )
    }
</div>
