 .u-section-1 {
  background-image: url("images/polygon-100s-1084px.svg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-custom-html-1 {
  min-height: 65px;
  margin: 221px 190px 0 226px;
}

.u-section-1 .u-social-icons-1 {
  height: 85px;
  min-height: 16px;
  width: 581px;
  min-width: 236px;
  animation-duration: 1000ms;
  margin: 117px auto 60px;
}

.u-section-1 .u-icon-3 {
  color: rgb(195, 7, 63) !important;
}

.u-section-1 .u-icon-4 {
  color: rgb(195, 7, 63) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 775px;
    margin-top: 226px;
    margin-left: 126px;
    margin-right: 90px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 457px;
    min-width: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1240px;
}

.u-section-2 .u-text-1 {
  margin: 134px auto 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 25px auto 0;
}

.u-section-2 .u-accordion-1 {
  width: 1099px;
  margin: 25px auto 60px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 206px;
}

.u-section-2 .u-container-layout-1 {
  padding: 3px 20px 11px;
}

.u-section-2 .u-text-2 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px auto 0;
  padding: 10px 30px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 206px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-5 {
  margin: -4px auto 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 206px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-text-7 {
  margin: 0 auto;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px auto 0;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 206px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-text-8 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  margin: 0 auto;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px auto 0;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 206px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-text-11 {
  margin: 0 auto;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px auto 0;
}

.u-section-2 .u-accordion-link-6 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 206px;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-text-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-13 {
  margin: 0 auto;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 25px auto 0;
}

.u-section-2 .u-accordion-link-7 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-7 {
  min-height: 206px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px;
}

.u-section-2 .u-text-15 {
  margin: 5px auto 0;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-2 .u-accordion-link-8 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-8 {
  min-height: 206px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px;
}

.u-section-2 .u-text-17 {
  margin: 9px auto 0;
}

.u-section-2 .u-btn-8 {
  margin: 25px auto 0;
}

.u-section-2 .u-accordion-item-9 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-9 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-9 {
  min-height: 206px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 20px;
}

.u-section-2 .u-text-19 {
  margin: 5px auto 0;
}

.u-section-2 .u-btn-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-2 .u-accordion-item-10 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-10 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-10 {
  min-height: 206px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 20px;
}

.u-section-2 .u-text-21 {
  margin: 5px auto 0;
}

.u-section-2 .u-btn-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-2 .u-accordion-item-11 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-11 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-11 {
  min-height: 206px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 20px;
}

.u-section-2 .u-text-23 {
  margin: 5px auto 0;
}

.u-section-2 .u-btn-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-2 .u-accordion-item-12 {
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-12 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-12 {
  min-height: 206px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 20px;
}

.u-section-2 .u-text-25 {
  margin: 5px auto 0;
}

.u-section-2 .u-btn-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-2 .u-accordion-link-13 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 20px;
}

.u-section-2 .u-icon-13 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-13 {
  min-height: 206px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 20px;
}

.u-section-2 .u-text-27 {
  margin: 5px auto 0;
}

.u-section-2 .u-btn-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    width: 940px;
  }

  .u-section-2 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-2 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-2 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-2 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-2 .u-accordion-pane-5 {
    height: auto;
  }

  .u-section-2 .u-accordion-pane-6 {
    height: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-accordion-pane-7 {
    height: auto;
  }

  .u-section-2 .u-accordion-pane-8 {
    height: auto;
  }

  .u-section-2 .u-accordion-pane-9 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-accordion-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-accordion-1 {
    width: 340px;
  }
}.cool-text {
  margin: auto;
  font-size: 7em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px #c3073f;
  font-style: italic;
  word-break: break-all;
  animation-name: example;
  animation-duration: .5s;
  text-shadow: 5px 10px #4e4e50;
}
@-webkit-keyframes example {
  from {text-shadow: 0px 0px #4e4e50;}
  to {text-shadow: 5px 10px #4e4e50;}
}
body {
  background-color: black;
}