---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
    title: string;
    description?: string;
    ogImage?: string;
    showFooter?: boolean;
    showNavbar?: boolean;
}

const { title, description, ogImage, showFooter = true, showNavbar = true } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
    </head>
    <body class="m-0 flex min-h-screen flex-col p-0 font-sans">
        <main class="flex-gro items-center justify-center flex">
            <slot />
        </main>
        {showFooter && <Footer />}
    </body>
</html>
