@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.75rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    ::selection {
        @apply bg-primary;
        @apply text-primary-foreground;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Blog */
.blog-content {
    @apply flex flex-col gap-3;
}

.blog-content > h1 {
    @apply text-4xl font-bold;
}

.blog-content > h2 {
    @apply text-2xl font-bold;
}

.blog-content > h3 {
    @apply text-xl font-bold;
}

.blog-content > ol {
    @apply list-inside list-decimal;
}

.blog-content > ul {
    @apply list-inside list-disc;
}

.blog-content > pre {
    @apply bg-secondary text-card-foreground rounded-lg border p-3 text-sm shadow-sm;
}

.blog-content > pre > code {
    @apply block;
}

.blog-content > p > code {
    @apply bg-secondary text-card-foreground rounded-[0.3rem] border px-1 text-sm;
}

.blog-content > blockquote {
    @apply border-primary/40 border-l-2 p-2;
}

.blog-content > blockquote > p {
    @apply text-foreground/60 italic;
}

.blog-content > p > a {
    @apply text-primary/60 hover:text-primary underline transition-all duration-150 ease-in-out;
}

.blog-content > p > img {
    @apply h-auto w-full items-center justify-center rounded-lg shadow-sm;
}

.blog-content > p > img + figcaption {
    @apply text-muted/60 text-center text-sm;
}
